body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*header start*/
header{
    width: 100%;
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo{
    margin-left: 50px;
    padding: 20px;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 12px;
    font-weight: 500;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav ul li a:hover{
    color: #8490ff;
    transition: all ease .3s;
}
.nav ul li ul{
    display: none;
    width: 180px;
    height: 90px;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    outline: none;
    float: right;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.nav ul li:hover >ul{
    display: block;
    color: #8490ff !important;
}
/*header end*/

/*section 1 start*/
.sec1{
    background-color: transparent;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9ff;
}
.half1 .half2{
    width: 50%;
}
.half1 {
    margin-left: 100px;
    margin-bottom: 130px;
}
.half2{
    padding-right: 160px;
    margin-top: 50px;
}
.half2 img{
    max-width: 100%;
    height: auto;
}
.half1 h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.half1 h1{
    font-size: 60px;
    margin: 20px 0px;
    text-transform: uppercase;
}
.half1 p{
    font-family: sans-serif;
    color: #777;
}
.btn1{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border: none;
    transition: all ease .3s;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none;
    font-size: 15px;
}
.btn1:hover{
    box-shadow: 1px 10px 30px rgba(124, 137, 248, .6);
    transition: all ease .3s;
}
/*section 1 end*/
/*section 2 start*/
.sec2{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.sec2 div{
    width: 40%;
}

.sec2 div img{
    width: 60%;
}
.text2 h4{
    color: rgba(12, 12, 12, .6);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "poppins",sans-serif;
}
.text2 h2{
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "poppins",sans-serif;
    font-weight: 600;
}
.text2 p{
    color: #777;
}
.btn2{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border: none;
    transition: all ease .3s;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none;
    font-size: 15px;
}
.btn2:hover{
    box-shadow: 0px 10px 30px rgba(124, 137, 248, .6);
    transition: all ease .3s;
}
/*section 2 end*/

/*section 3 start*/
.sec3{
    width: 100%;
    margin: 0 auto;
    height: 650px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box1 h1{
    font-size: 35px;
    line-height: 10px;
}
.box1 p{
    width: 670px;
    color: rgb(0, 0, 0, .6);
    margin: 0 auto;
}
.service{
    width: 85%;
    margin: 0 auto;
    padding-top: 45px;
}
.service div{
    width: 30%;
    float: left;
    padding: 10px;
    margin: 20px 5px;
}

.service i{
    font-size: 40px;
    color: rgba(0,0,0,.6);
    padding: 10px;
}
.service h1{
    color: rgba(0,0,0,.8);
    font-size: 18px;
    padding: 10px;
}
.service p{
    color: rgba(0,0,0,.4);
}
.service div:hover i{
    color: #8490ff;
}
.service div:hover h1{
    color: #8490ff;
    cursor: pointer;
}
/*section 3 end*/

/*section 4 start*/
.sec4{
    display: flex;
    background-color: #8490ff;
    color: #fff;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.sec4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.sec4 h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 5px;
}
/*section 4 end*/

/*Portfolio section start*/
.sec5{
    width: 100%;
    box-sizing: border-box;
}
.sec5 .ptext{
    text-align: center;
    padding: 100px 0px;
}
.ptext h1{
    font-size: 40px;
    color: rgba(33, 33, 33, .9);
    line-height: 5px;
}
.ptext p{
    color: rgba(33, 33, 33, .5);
    margin-bottom: 30px;
}
.sec5 .imgg{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.sec5 .imgg div{
    width: 340px;
    height: 339px;
    margin-bottom: 100px;
    text-align: center;
    padding: 5px;
}
.sec5 .imgg h1{
    font-size: 20px;
    color: rgba(0,0,0,.9);
}
.sec5 .imgg p{
    color: rgba(0,0,0,.6);
    line-height: 5px;
}
.sec5 .imgg figure{
    background: linear-gradient(40deg, #8490ff 40%, #62bdfc 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;
}
.sec5 .imgg figure:hover  img{
    opacity: .3;
    transition: all ease-in-out .3s;
}
/*Portfolio section end*/

/*Pricing table start*/
.sec6{
    width: 100%;
    height: 700px;
    padding-top: 50px;
}
.sec6 .pricetext{
    text-align: center;
    padding: 2% 0;
}
.sec6 .pricetext h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.sec6 .pricetext p{
    color: rgba(0,0,0,.4);
}
.sec6 .pricetable{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(249,249,255);
}
.sec6 .pricetable div{
    width: 300px;
    height: 620px;
    text-align: center;
    border: 1px solid rgb(249,249,255);
    padding: 5px;
    margin: 5px;
}
.sec6 .pricetable div h1{
    font-size: 50px;
    padding-top: 8px;
}
.sec6 .pricetable div p{
    
}
.sec6 .pricetable div .btn3{
    outline: none;
    border: none;
    background-color: #8490ff;
    color: white;
    font-size: 14px;
    padding: 13px 80px;
    cursor: pointer;
    text-transform: uppercase;
}
.sec6 .pricetable div:hover{
    background-color: #8490ff;
    color: #fff;
    transition: all .25s ease-in;
    transform: scale(1.05);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.5);
    border: 1px solid #8490ff;
}
.sec6 .pricetable div:hover .btn3{
    background-color: #fff;
    color: black;
}
.sec6 .pricetable div:hover p{
    color: #fff;
}
/*Pricing table end*/

/*footer start*/
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(4,9,13);
    position: relative;
    bottom: 0;
    margin-top: 200px;
    color: #fff;
}
footer .foot{
    width: 125%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin:0px auto;
    padding-top: 75px;
}
footer .foot .foot1 p{
    color: rgba(255,255,255,.5);
}
footer .foot .foot1{
    width: 30%;
}
footer input{
    font-size: 15px;
    outline: none;
    border: none;
    padding:10px 150px 10px 10px;
}
footer .btn4{
    font-size: 18px;
    color: #fff;
    background-color: #8490ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 9px 15px;
}
footer .foot i{
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .foot i:hover{
    color: #8490ff;
}
/*footer end*/