body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9ff;
    font-family: sans-serif;
}
/*header start*/
header{
    width: 100%;
    display: flex;
    background-color: #fff;
}
.logo{
    margin-left: 50px;
    padding: 20px;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 12px;
    font-weight: 500;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav ul li a:hover{
    color: #8490ff;
    transition: all ease .3s;
}
.nav ul li ul{
    display: none;
    width: 180px;
    height: 90px;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    outline: none;
    float: right;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.nav ul li:hover >ul{
    display: block;
    color: #8490ff !important;
}
/*header end*/

/*section 1 start*/
section{
    background-color: transparent;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half1 .half2{
    width: 50%;
}
.half1 {
    margin-left: 100px;
    margin-bottom: 130px;
}
.half2{
    padding-right: 160px;
}
.half2 img{
    max-width: 100%;
    height: auto;
}
.half1 h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.half1 h1{
    font-size: 60px;
    margin: 20px 0px;
}
.half1 p{
    font-family: sans-serif;
    color: #777;
}
.btn1{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border: none;
    transition: all ease .3s;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none;
    font-size: 15px;
}
.btn1:hover{
    box-shadow: 1px 10px 30px rgba(124, 137, 248, .6);
    transition: all ease .3s;
}
/*section 1 end*/
